html {
    padding:0;
    background-color: rgb(240,240,240);
}


header {
    margin:0;
    background-color:rgb(50,80,1);
    padding:10px;
}
header h1 {
    margin:0;
    text-align : center;
    color:rgb(240,240,240);
}
#log_in_div {
    float:right;
    margin-top:5px;
    font-size: 25px;
    color:rgb(240,240,240);
}
#menu_div {
    float:left;
    margin-top:5px;
    font-size: 25px;
    color:rgb(240,240,240);
    font:bold;
}
#menu_div:hover {
 cursor:pointer;
}
header a {
    color: inherit;
    text-decoration: none;
}
body {
    margin:0;
    margin-top:0;
}

div#content {
    overflow:auto;
    padding:20px;
    max-width:900px;
    margin : auto;
    margin-top : 30px;
    font-size:18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(240,240,240); /* Black*/
  border-right : black 1px solid;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(50,80,1);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(100,160,2);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Overlay when menu is open */

#overlay {
    width:100%;
    height:100%;
    position:absolute;
    top:-48px;
    display:none;
    background-color: rgb(240,240,240);
    opacity:0.8;
}
#overlay:hover{
    cursor:pointer;
}

/* Outside of content buttons */

.wide_button{
    padding-top: 5px;
    padding-bottom:5px;
    background-color:rgb(50,80,1);
    text-align:center;
    width:100%;
    font-size:20px;
    color:white;
    text-decoration: none;
}

.no_style_link {
    text-decoration: none;
    color:inherit;
}

.wide_button:hover{
    cursor:pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* In main area button */
.in-button {
    padding-left:10px;
    padding-top: 5px;
    padding-bottom:5px;
    width:95%;
    font-size:20px;
    color:black;
    text-decoration: none;
    border: 1px rgb(50,80,1) solid;
    margin-bottom:10px;
}

.in-button:hover{
    cursor:pointer;
    background-color:rgb(240,240,240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.in-button .right_info {
    float:right;
}


/* Draft Page presentation */

#side_menu {
    float:left;
    border:1px solid black;
    margin-right:30px;
    padding-top:0px;
    padding-bottom:10px;
    width:120px;
}

.cat_menu_element {
  padding-left:10px;
  padding-right:10px;
  font-size: 20px;
  color: rgb(50,80,1);
  transition: 0.3s;
  margin-top:10px;
}


.cat_menu_element:hover {
  color: rgb(100,160,2);
  cursor:pointer;
}

.cat_menu_element.selected {
    background-color:rgb(200,200,200);
}

#record_area{
    margin-left:150px;
}

/* Descriptor styles */

div.level_button {
    border: 1px solid black;
    display:inline-block;
    text-align: center;
    margin:0;
    width:15px;
}
div.level_button:hover {
  cursor:pointer;
}
div.level_button.notclickable {
    border: 1px solid grey;
    cursor:default;
    color:grey;
}

div.level_button.selected {
    background-color: rgb(100,160,2);
}

/* Statements */
textarea.descriptor_text {
    width:100%;
}

/* Elements to display the different states */
.descriptor_display_choice {
    border: 1px solid black;
    display:inline-block;
    text-align: center;
    margin:0;
    width:100px;
}
div.descriptor_display_choice:hover {
  cursor:pointer;
}
.descriptor_display_choice.selected {
    background-color: rgb(100,160,2);
}

.descriptor_container {
    display:none;
}
.descriptor_container.selected {
    display:block;
}

/* Each category container */
.category_container{
    display:none;
}
.category_container.selected {
    display:block;
}

/* Tooltip code */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;

  width: 300px;
  background-color: rgb(50,80,1);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: -5px;
  left: 105%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}